.tile {
  padding: 0.25rem;
  width: 225px;

  .image {
    border-radius: 12px;
    height: 300px;
    width: 225px;
    overflow: hidden;
  }

  .title {
    font-weight: 500;
    font-size: 1rem;
    color: #872341;
    padding: 4px 0px;
    width: 100%;
    overflow: hidden;
  }
}
