<div class="container">
  <div class="list-title">{{ title }}</div>

  <div class="scroll-wrapper">
    <button class="scroll-btn left" (click)="scrollLeft()">◀</button>

    <div class="tile-box" #scrollContainer>
      @if (isLoading) {
      <div style="align-self: center; justify-self: center">
        <app-circular-loader />
      </div>
      } @else { @for (tile of tiles; track tile.mal_id) {
      <app-tile [anime]="tile" />
      }}
    </div>

    <button class="scroll-btn right" (click)="scrollRight()">▶</button>
  </div>
</div>
