<div class="container">
  <div class="list-title">{{ title }}</div>

  <div class="scroll-wrapper">
    <button class="scroll-btn left" (click)="scrollLeft()">◀</button>

    <div class="tile-box" #scrollContainer>
      @if (this.tileType === 'user') { @for (tile of userAnimeItemTiles(); track
      tile.node.id) {
      <app-user-anime-tile [anime]="tile" />
      } } @if (this.tileType === 'anime') { @for (tile of animeItemTiles();
      track tile.mal_id) {
      <app-anime-tile [anime]="tile" />
      } }
    </div>

    <button class="scroll-btn right" (click)="scrollRight()">▶</button>
  </div>
</div>
